/target/
/.idea/
/CS122APROJECT1.iml
/XMLParser/XMLParser.iml
/XMLParser/target
/XMLParser/actor6.dtd
/XMLParser/main32.dtd
/XMLParser/cast93.dtd
/XMLParser/casts124.xml
/XMLParser/mains243.xml
/XMLParser/actors63.xml
/XMLParser/.idea/
